body {
    margin: 0;
    align-items: center;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    list-style-type: none;
}

nav {
    font-size: 20px;
    background-color: rgb(227, 127, 73);
    padding: 15 900px;
    justify-content: space-around;
    align-items: center;
}

p {
    color: rgb(255, 255, 255);
}

h2,
h3 {
    color: #e7a669;
    text-align: center;
}

nav,
ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 0 10px;
}

div {
    color: rgb(0, 0, 0);
}

#data {
    color: purple;
    text-align: center;
    margin-left: 46%;
    border-radius: 10px;
    border-style: ridge;
}

input {
    text-align: center;
    margin-left: 45%;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    justify-items: flex-end;
}

button {
    font-size: 15px;
    background-color: rgb(208, 203, 203);
    margin-left: 695px;
    margin-top: 30px;
    border-radius: 15px;
    width: 140px;
    height: 40px;
    color: purple;
    cursor: pointer;
    flex-direction:row;

}

::placeholder {
    color: purple;
}