<<<<<<< HEAD
body {
    margin: 0;
    align-items: center;
=======
button {
    display: flex;
    margin:0 auto;
    align-items:center;
}
input {
    max-width: 230px;
    background-color: #f1efeb;
    opacity: 1;
    color: #000000;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 18px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
}

button {
    color: orange;
    opacity: 1;
}
body {
    margin: 0;
    align-items: center;
    opacity: 0.8;
>>>>>>> d0db4de1de0e263f134a1129e55e1d27e9f95757
}

ul {
    list-style: none;
    text-align: center;
}

li {
    list-style-type: none;
<<<<<<< HEAD
}

nav {
    font-size: 20px;
    background-color: rgb(227, 127, 73);
    padding: 15 900px;
    justify-content: space-around;
=======
  }

nav {
    font-size: 20px;
    background-color:rgb(205, 82, 16);
    padding: 15 900px;
    justify-content: space-between;
>>>>>>> d0db4de1de0e263f134a1129e55e1d27e9f95757
    align-items: center;
}

p {
<<<<<<< HEAD
    color: rgb(255, 255, 255);
}

h2,
h3 {
    color: #e7a669;
    text-align: center;
}

nav,
ul {
=======
    color:rgb(255, 255, 255);
}

h2, h3 {
    color:#e98222;
    text-align: center;
}

h4 {
    color:rgb(0, 85, 255);
}

nav, ul {
>>>>>>> d0db4de1de0e263f134a1129e55e1d27e9f95757
    display: flex;
    flex-direction: row;
}

li {
    padding: 0 10px;
}

<<<<<<< HEAD
div {
    color: rgb(0, 0, 0);
}

#data {
    color: purple;
    text-align: center;
    margin-left: 46%;
    border-radius: 10px;
    border-style: ridge;
}

input {
    text-align: center;
    margin-left: 45%;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    justify-items: flex-end;
}

button {
    font-size: 15px;
    background-color: rgb(208, 203, 203);
    margin-left: 695px;
    margin-top: 30px;
    border-radius: 15px;
    width: 140px;
    height: 40px;
    color: purple;
    cursor: pointer;
    flex-direction:row;

}

::placeholder {
    color: purple;
=======
div{
    color:white ;
>>>>>>> d0db4de1de0e263f134a1129e55e1d27e9f95757
}