body {
    margin: 0;
    align-items: center;
<<<<<<< HEAD
    opacity: 0.93;
=======
    opacity: 0.8;
>>>>>>> d0db4de1de0e263f134a1129e55e1d27e9f95757
}

h1 {
    text-align: center;
    text-decoration: double;
}

li {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    padding: 0 10px;
}

button {
    align-items: center;
    text-align: center;
}

img {
    align-items: center;
    padding: 0 550px;
}

<<<<<<< HEAD
=======
body {
    margin: 0;
    align-items: center;
}

>>>>>>> d0db4de1de0e263f134a1129e55e1d27e9f95757
ul {
    list-style: none;
    text-align: center;
}

nav {
    font-size: 20px;
<<<<<<< HEAD
    background-color: rgb(205, 82, 16);
    justify-content: space-around;
=======
    background-color:rgb(205, 82, 16);
    justify-content: space-between;
>>>>>>> d0db4de1de0e263f134a1129e55e1d27e9f95757
    align-items: center;
}

p {
<<<<<<< HEAD
    color: rgb(255, 255, 255);
}

nav,
ul {
    display: flex;
    flex-direction: row;
=======
    color:rgb(255, 255, 255);
}

h2, h3 {
    color:#e98222;
    text-align: center;
}

nav, ul {
display: flex;
flex-direction: row;
>>>>>>> d0db4de1de0e263f134a1129e55e1d27e9f95757
}

iframe {
    align-items: center;
<<<<<<< HEAD
    padding: 0 490px;
}

ol {
    font-size: 18px;
}

table {
    color: #000000;
    background-color: #a75858;
}

h1 {
    background-color: yellow;
    opacity: 0.8;
}

ol {
    background-color: rgb(255, 0, 76);
    opacity: 0.7;
=======
    padding: 0 500px;
}

ol{
    font-size: 18px;
}

table{
    color: #000000;
    background-color: #ffffff;
>>>>>>> d0db4de1de0e263f134a1129e55e1d27e9f95757
}