body {
    margin: 0;
    align-items: center;
    opacity: 0.93;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    list-style-type: none;
}

nav {
    font-size: 20px;
    background-color: rgb(205, 82, 16);
    padding: 15 900px;
    justify-content: space-around;
    align-items: center;
}

p {
    color: rgb(255, 255, 255);
}

h2 {
    color: #ff7b00;
    font-size: 25px;
    text-align: center;
    background-color: rgb(199, 206, 76);
}

h3 {
    color: orange;
    text-align: center;
    font-size: 15px;
}

h4 {
    color: rgb(0, 85, 255);
}

nav,
ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 0 10px;
}

img {
    align-items: center;
    padding: 0 350px;
    width: 600px;
}

button {
    font-size: 20px;
    background-color: rgb(37, 218, 218);
    border-radius: 15px;
    padding: 15px 35px;
    cursor: pointer;
    margin-left: 640px;
    margin-top: 30px;
}

footer {
    background-color: #e98222; 
    text-align: center;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
}